﻿

 <tr>
        <td>
            <input class="form-control" name="Contenedores[@ViewBag.Count].NroContenedor"
                   id="NroContenedor" type="text" />
        </td>
        <td>
            <input class="form-control" name="Contenedores[@ViewBag.Count].Sello"
                   id="Sello" type="text" />
        </td>
        <td>
            <input class="form-control" name="Contenedores[@ViewBag.Count].Tara"
                   id="Tara" type="text" />
        </td>
        <td>
            <input class="form-control" name="Contenedores[@ViewBag.Count].PesoMaximo"
                   id="PesoMaximo" type="text" />
        </td>
        <td>
            <button class="btn btn-danger btn-sm" id="deleteRow">
                Eliminar
            </button>
        </td>
    </tr>
    
<script>

   

</script>
