﻿@model Listados.Models.AsignarContenedor

@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
<div class="col-lg-12">
    <form action="@Url.Action("AsignarContenedor", "Instruccion", new { id = ViewBag.IdInstruccion })" method="post">
        </br>
        <table class="table table-responsive table-bordered" id="TablaDeContenedorPorInstruccionDeEmbarque" data-count="0">
            <thead>
                <tr>
                    <th id="NroContenedor">Nro. Contenedor</th>
                    <th>No. Sello</th>
                    @Html.ValidationMessageFor(m => m.Contenedores)
                    <th>Tara</th>
                    @Html.ValidationMessageFor(m => m.Contenedores)
                    <th>Peso Maximo</th>
                    <th><button class="btn btn-primary btn-sm"  type="button" id="AgregarLineaTabla"><i class="glyphicon glyphicon-plus"></i> Agregar</button></th>
                </tr>
            </thead>
            <tbody>

             
            </tbody>
        </table>
        <div>
            <button class="btn btn-success" type="submit" id="GuardarContenedores"> Guardar </button>
        </div>
    </form>
    <br />
</div>

@section scripts{

    <script>
    
        //$("#deleteRow").on("click", function () {
        //    alert("deleteRow");
        //    return false;
        //})

        //$('#GuardarContenedores').on('click', function () {
        //    if ($('#NroContenedor') || $('#Sello') || $('#Tara') || $('#PesoMaximo').val().length == 0) {
        //        alert('Please fill out your initials.');
        //        console.log(NroContenedor);
        //        return false;
        //    }
        //});
        //var table = $('#TablaDeContenedorPorInstruccionDeEmbarque').DataTable();
        //$('#TablaDeContenedorPorInstruccionDeEmbarque').on('click', '#deleteRow', function () {
        //    table
        //    .row($(this).parents('tr'))
        //    .remove()
        //    .draw();
        //});

        $("#AgregarLineaTabla").on("click", function () {
            var count = $("#TablaDeContenedorPorInstruccionDeEmbarque").attr("data-count");
            $.ajax({
                url: "@Url.Action("AddRowContenedor", "Instruccion")",
                data: { count: count },
                type: "GET",
                success: function (resp) {
                    $("#TablaDeContenedorPorInstruccionDeEmbarque tbody").append(resp);
                    $("#TablaDeContenedorPorInstruccionDeEmbarque").attr("data-count", (parseInt(count) + 1));
                }
            })
        });


        function Post() {
            var contenedores = [];
            $("#TablaDeContenedorPorInstruccionDeEmbarque tr").each(function () {
                var obj = new Object();

                var name = $(this).find("input").each(function () {

                    if (this.id == 'NroContenedor' && this.value != '') {
                        obj.NroContenedor = this.value;
                    }
                    else if (this.id == 'Sello' && this.value != '') {
                        obj.Sello = this.value;
                    }
                    else if (this.id == 'Tara' && this.value != '') {
                        obj.Tara = this.value;
                    }
                    else if (this.id == 'PesoMaximo' && this.value != '') {
                        obj.PesoMaximo = this.value;
                    }

                });
                contenedores.push(obj);
            });
            contenedores = JSON.stringify({ contenedores: contenedores });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/Instruccion/AsignarContenedor',
                data: contenedores
            });
        }



    </script>




}

