﻿@model IEnumerable<Listados.Models.InstruccionesEmbarqueViewModel>
<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalDetalleContenedores">Open Modal</button>*@
@*@Html.ActionLink("Detalle de contenedores", "IndexModal", "DetalleContenedoresView", null, new { @class = "img-btn-addcontent modal-link" })*@
@*<button href="#myModal" id="openBtn" data-toggle="modal" class="btn btn-default">Modal</button><div class="modal fade" id="myModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Big Title</h3>
                </div>        <div class="modal-body">
                    <h5 class="text-center">Hello. Some text here.</h5>          <table class="table table-striped" id="tblGrid">            <thead id="tblHead">              <tr>                <th>Location</th>                <th>Points</th>                <th class="text-right">Mean</th>              </tr>            </thead>            <tbody>              <tr><td>Long Island, NY, USA</td>                <td>3</td>                <td class="text-right">45001</td>              </tr>              <tr><td>Chicago, Illinois, USA</td>                <td>5</td>                <td class="text-right">76455</td>              </tr>              <tr><td>New York, New York, USA</td>                <td>10</td>                <td class="text-right">39097</td>              </tr>            </tbody>          </table>          <div class="form-group">            <input class="btn btn-warning btn-sm pull-right" value="Reset" type="button">            <div class="clearfix"></div>          </div>
                </div>        <div class="modal-footer">          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>          <button type="button" class="btn btn-primary">Save Changes</button>        </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->*@





<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdInstruccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th></th>
    </tr>

    <div>
        <li>
            @Html.ActionLink("Detalle Contenedores", "index", "DetalleContenedoresView")
        </li>
    </div>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInstruccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.ActionLink("Asignar Contenedores", "AsignarContenedor", new { id = item.IdInstruccion })
                @Html.ActionLink("Index", "Instruccion")

            </td>
        </tr>
    }

</table>

@*PRIMER MODAL*@
<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

@*SEGUNDO MODAL*@
<button type="button" class="btn btn-success" data-toggle="modal" id="btnShow" data-target="#myModalDetalleContenedores">Mostrar contenedores</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="bodymodal">
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#btnShow").click(function () {
                $('#myModal').modal('show');
                $.ajax({
                    url: "@Url.Action("IndexModal", "DetalleContenedoresView")",
                    
                type: "GET",
                success: function (resp) {
                    $("#bodymodal").html(resp);
                }
            })
            });
        });
    </script>
}
