﻿<!DOCTYPE html>
@model IEnumerable<Listados.Models.DetalleContenedoresViewModel>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>       
            <div data-role="page" id="pageone">
                <div data-role="header">
                    <h1>...</h1>
                </div>
                <div data-role="main" class="table-striped">
                    <table data-role="table" data-mode="columntoggle" class="ui-responsive ui-shadow" id="myTable">
                        <thead>
                            <tr>
                                <th data-priority="1">@Html.DisplayNameFor(model => model.NContenedor)</th>
                                <th data-priority="2">@Html.DisplayNameFor(model => model.Sello)</th>
                                <th data-priority="3">@Html.DisplayNameFor(model => model.CreadoPor)</th>
                                <th data-priority="4">@Html.DisplayNameFor(model => model.IdInstruccion)</th>
                                <th data-priority="5">@Html.DisplayNameFor(model => model.IdContenedor)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NContenedor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sello)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreadoPor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdInstruccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdContenedor)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>          

            @*<table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdContenedor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NContenedor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sello)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreadoPor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdInstruccion)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdContenedor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NContenedor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sello)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreadoPor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdInstruccion)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </table>*@

</body>
</html>
